<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <meta charset="UTF-8">
    <title th:text="#{message.error.forbidden.title}">Forbidden</title>
</head>

<body>
    <form th:action="@{/uniMemo/list}" method="get">
        <button type="submit" th:text="#{button.list}">Memo list</button>
    </form>
    <form th:action="@{/logout}" method="get">
        <button type="submit" th:text="#{button.logout}">Log out</button>
    </form>
    <h3 th:text="#{message.error.forbidden.body}">Forbidden</h3>
</body>
</html>