<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{message.error.default.title}">Error</title>
</head>

<body>
    <form th:action="@{/uniMemo/list}" method="get">
        <button type="Submit" th:text="#{button.list}">Go to list</button>
    </form>
    <h3 th:text="#{message.error.default.body}">Error</h3>
</body>
</html>