<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{message.login.title}">Login form</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <form th:action="@{/register}" method="get">
                    <button type="submit" th:text="#{button.register}">Register</button>
                </form>
            </td>

            <td>
                <!-- button for choosing language -->
                <form style="padding-left: 2em;" method="get">
                    <label th:with="langString=${#httpServletRequest.getParameter('lang')}">
                        <select name="lang">
                            <option value="en" th:text="English"
                                    th:selected="${#locale.getLanguage().equals('en')}">en</option>
                            <option value="pl" th:text="polski"
                                    th:selected="${#locale.getLanguage().equals('pl')}">pl</option>
                        </select>
                    </label>
                    <input type="submit" th:value="#{button.lang-change}"/>
                </form>
            </td>
        </tr>
    </table>

    <p th:if="${successMessage}" th:text="${successMessage}"></p>
    <div>
        <!-- login form -->
        <form th:action="@{/login}" method="post">
            <h2 th:text="#{message.welcome}">Welcome</h2>
            <table>
                <tr>
                    <td><label for="email"></label></td>
                    <td><input id="email" type="text" name="email" th:placeholder="#{placeholder.email}"/><br/></td>
                </tr>
                <tr>
                    <td><label for="password"></label></td>
                    <td><input type="password" th:placeholder="#{placeholder.password}" id="password" name="password"/></td>
                    <td th:if="${#httpServletRequest.getParameter('error') != null}" th:text="#{message.error.email-invalid}">Email and/or password invalid</td>
                </tr>
            </table>
            <button type="submit" th:text="#{button.login}"></button>
        </form>
    </div>
</body>
</html>