<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>Customers list</title>
</head>
<body>
<form th:action="@{/logout}" method="get">
    <button type="Submit">Log out</button>
</form>
    <br><br>
    <div id="wrapper">
        <div id="header">
            <h2>MemoApp - memo management tool</h2>
        </div>
    </div>
    <div id="container">
        <div id="content">

            <input type="button" value="Add Memo"
                   onclick="window.location.href='showAddForm'; return false;"/>

            <table>
                <tr>
                    <th>Title</th>
                    <th>Short description</th>
                    <th>Content</th>
                    <th>Owner</th>
                    <th>Action</th>
                </tr>

                <th:block th:each="uniMemo : ${uniMemos}">
                    <div th:with="
                            updateLink=@{/uniMemo/showUpdateForm(uniMemoId=${uniMemo.id})},
                            deleteLink=@{/uniMemo/delete(uniMemoId=${uniMemo.id})}">
                        <tr>
                            <td th:text="${uniMemo.title}"></td>
                            <td th:text="${uniMemo.shortDescription}"></td>
                            <td th:text="${uniMemo.memoText}"></td>
                            <td th:text="${uniMemo.owner.firstName}"></td>
                            <td>
                                <a th:href="${updateLink}">Update</a>
                                |
                                <a th:href="${deleteLink}" onclick="if (!(confirm('Are you sure you want to delete memo?'))) return false">Delete</a>
                            </td>
                        </tr>
                    </div>
                </th:block>
            </table>
        </div>
    </div>
</body>
</html>
