<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>Customer form</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>MemoApp - memo management tool</h2>
        </div>
    </div>

    <div id="container">
        <h3>Save Memo</h3>
        <form action="#" th:action="@{/uniMemo/saveMemo}" th:object="${uniMemo}" th:method="POST">
            <input type="hidden" th:field="*{id}"/>
            <table>
                <tbody>
                    <tr>
                        <td><label for="title">Title:</label></td>
                        <td><input id="title" type="text" th:field="*{title}"/></td>
                        <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
                    </tr>

                    <tr>
                        <td><label for="subject">Content:</label></td>
                        <td><input id="subject" type="text" th:field="*{subject}"/></td>
                        <td th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></td>
                    </tr>

                    <tr>
                        <td><label for="shortDescription">Short description:</label></td>
                        <td><input id="shortDescription" type="text" th:field="*{shortDescription}"/></td>
                        <td th:if="${#fields.hasErrors('shortDescription')}" th:errors="*{shortDescription}"></td>
                    </tr>

                    <tr>
                        <td><label for="memoText">Content:</label></td>
                        <td><input id="memoText" type="text" th:field="*{memoText}"/></td>
                        <td th:if="${#fields.hasErrors('memoText')}" th:errors="*{memoText}"></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="Save" class="save"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <p>
            <a th:href="@{/uniMemo/list}">Back to list</a>
        </p>
    </div>
</body>
</html>
