<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <meta charset="UTF-8">
    <title th:text="#{message.error.not-verified.title}">User not verified</title>
</head>

<body>
    <h1 th:text="${failMessage}">Fail message</h1>
    <br><br>
    <form th:action="@{/register}" method="get">
        <button type="submit" th:text="#{button.register}">Register</button>
    </form>
</body>
</html>